:root {
  --clr-primary: #D1C741;
  --clr-primary-dark: #8A8321;
  --clr-secondary: #444;
  --clr-background: #D9D9D9;
}
*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  color-scheme: light dark;
}
body {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr min-content;
  background-color: var(--clr-background);
}
main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: clamp(14em, 90%, 60em);
  margin: 0 auto;
}
#image {
  position: relative;
  width: 30em;
  height: 15em;
}
canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
}
#text-container:focus ~ canvas, #text-container:hover ~ canvas, canvas:hover {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
#text-container {
  --text-align: left;
  --text-size: 1;
  --contrast: 150;
  outline: none;
  text-align: var(--text-align);
  font-size: calc(clamp(1rem, 4vw, 2rem) * var(--text-size));
  font-weight: 600;
  background: #bbb;
  color: rgb(var(--contrast), var(--contrast), var(--contrast));
  height: 100%;
  width: 100%;
  padding: 0.3rem;
  line-height: 1;
  position: relative;
  overflow: hidden;
}
#text-container::before {
  content: "write here your secret message";
  text-align: left;
  font-size: clamp(1rem, 4vw, 2rem);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  color: #a5a5a5;
}
#text-container:empty::before {
  opacity: 1;
}
#ext {
  cursor: pointer;
  background-color: var(--clr-primary);
  color: #000;
  font-size: 1.5em;
  font-weight: 600;
  outline: none;
  border: none;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem; 
  padding: 0.1rem 0.8rem;
}
#download {
  cursor: pointer;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-color: var(--clr-primary);
  border: none;
}
#download > img {
  padding: 0.1rem 0.8rem;
  height: 80%;
}
#download:hover, #ext:hover {
  background-color: var(--clr-primary-dark);
}
#download:focus, #ext:focus {
  outline: 0.1rem var(--clr-primary) solid;
  outline-offset: 0.1rem;
}
.download-container {
  display: grid;
  grid-template-columns: 1fr min-content;
  margin-bottom: 0.7em;
  margin-left: 1em;
  width: 10em;
  gap: 0.3rem;
}
.slider > input {
  accent-color: var(--clr-primary);
}
.slider {
  width: min-content;
}
.config {
  padding: 0.5rem 2rem;
  font-size: clamp(0.8rem, 2vw, 1rem);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  gap: 0.8em;
}
.slider > input:focus-visible {
  outline: 0.15rem solid var(--clr-primary);
  outline-offset: 0.1rem;
}
.text-align > label > svg {
  stroke: var(--clr-secondary);
  height: 1rem;
  width: auto;
}
.text-align {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-align > label {
  --border-radius: 0.5rem;
  cursor: pointer;
  border-radius: 0;
  border: 0.1rem solid #000a;
  padding: 0.6rem;
  background-color: #0001;
}
.text-align > label:hover {
  background-color: #0009;
}
.text-align > input:focus-visible + label {
  border: 0.1rem solid var(--clr-primary);
}
.text-align > input:first-of-type + label {
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}
.text-align > input:last-of-type + label {
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}
.text-align > input {
  width: 0;
}
.text-align > input:checked + label > svg {
  stroke: var(--clr-primary) !important;
}
@media (max-width: 45rem) {
  #image {
    width: 20em;
    height: 10em;
  }
}
@media (max-width: 35rem) {
  #image {
    width: 30em;
    height: 15em;
  }
  main {
    flex-direction: column;
  }
  .download-container {
    margin: 0.7em auto;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --clr-secondary: #B5B5B5;
    --clr-background: #383835;
  }
}
